
.block {
    display: block;
    background-color: aqua;
}
.inline {
    display: inline;
    background-color: blue;
}
.flex {
    display: flex;
    background-color: red;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item1 {
    flex: 1 1 200px;
}
.item2 {
    flex: 2 1 300px;
}
.item3 {
    flex: 2 2 100px;
}