.button:hover {
    background-color: #0056b3;
}
.button:active {
    background-color: #003d80;
}
.input:focus {
    border-color: #007bff;
}
.list-item:first-child {
    font-weight:bold;
}
.list-item:last-child {
    background-color: purple;
}
.site:hover {
    background-color: #0056b3;
    color:white
}
.inp:focus {
    border-color: #197b4f;
}
.div:first-child:hover {

    background-color: aquamarine;
}
.div:last-child:focus{
    background-color: black;
}
.div:nth-child(even) {
    background-color: brown;
}